@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.1/font/bootstrap-icons.css');

html,
body {
    font-family: 'Montserrat', sans-serif !important;
}

* {
    margin: 0px;
    padding: 0px;
}

/* ===== Scrollbar CSS ===== */
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 2px;
}

*::-moz-scrollbar-thumb {
    background-color: #000;
    border-radius: 2px;
}

::-moz-selection {
    color: #000;
    background: #27287b;

}


::selection {
    color: #fff;
    background: #27287b;
}

.route-link {
    color: #000;
    text-decoration: none;
}

.route-link:hover {
    color: #000;
}

.text-right {
    text-align: right;
}

a {
    text-decoration: none !important;
}

h5 {
    margin-bottom: 0px !important;
}

p {
    margin-bottom: 0px !important;
}


/* HEADDER STYEL */

